body {
  font-family: "roboto";
  background-color: #272044;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.second-section {
  background: #f8f8f8;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr;
  grid-gap: 54px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-3-columns-restaurants {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 2ß0px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 16px;
  background-color: #462cb3;
}

.img-responsive {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-left: 15px;
  display: block;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("src/Granville-Bridge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: white;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  display: inline-block;
}

main {
  background-color: white;
  padding-bottom: 20px;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("src/Lions-Gate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
    text-align: center;
  }

  header h1 {
    font-size: 48px;
    text-align: center;
  }

  header h2 {
    font-size: 20px;
    text-align: center;
  }

  header h3 {
    font-size: 12px;
    text-align: center;
  }

  section p {
    text-align: center;
  }

  section h2 {
    text-align: center;
  }

  section h3 {
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .img-responsive {
    max-width: 100%;
    padding: 0%;
  }
}
